/* reset */
  html {
    box-sizing: border-box;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background: rgb(27, 27, 27);
    color: white;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* ui */
  .tabs {
    display: flex; justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
  }

  .tab {
    cursor: pointer;
    padding: 10px;
    width: 50%;
    text-align: center;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
  }

  .tab:hover {
    background-color: #aaa;
  }

  .tab.active {
    background-color: #ccc;
    color: black;
  }

  .tab-content {
    margin: 20px;
  }

  [data-tab-content] {
    display: none;
  }
  .active[data-tab-content] {
    display: block;
  }

.grid-container {
  margin: 2px;
  vertical-align: middle;
  display: grid;
  gap: 10px;
  grid-template-areas: 
          "ten"
          "ctl"
          "dat";
}

.subheading {
  color: #A8A8A8;
  font-size: 14px;
}

h3 {
  margin: 4px 0px;
}

input[type=range] {
  margin: 4px;
  vertical-align: middle;
}

input[type=number] {
  margin: 4px;
  vertical-align: middle;
  width: 75px;
  background-color: #181818;
  color: white;
  border: 1px solid rgb(82, 82, 82);
}

input[type=text] {
  margin: 4px;
  vertical-align: middle;
  width: 200px;
  background-color: #181818;
  color: white;
  border: 1px solid rgb(82, 82, 82);
}

select {
  background-color: #181818;
  color: white;
  border: 1px solid rgb(82, 82, 82);
  
}

#preview-mode {
  padding: 10px;
  margin: auto;
  grid-area: ctl;
}

#mainCanvas {
  padding: 0;
  margin: 20px auto;
  display: block;
  background: #040404;
  border: 1px solid rgb(82, 82, 82);
  width: 100%;
  max-width: 500px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  grid-area: ten;
}

#bitmap-data {
  height: 250px;
  overflow: auto;
  grid-area: dat;
  display: none;
}

#disclaimer {
  font-style: italic;
  font-size: 14px;
  color: lightblue;
  margin: 10px;
  width: 300px;
  text-wrap: wrap;
}

#drawing-data {
 width: 500px;

}

#drawing-results {
  resize:none;
  width: 500px;
  min-height: 200px;
  overflow: auto;
  overflow-wrap:break-word;
}